body{
  font-family: Arial, Helvetica, sans-serif;
  background:#111;
  color:white;
  margin:0;
  padding:30px;
}

.app{
  text-align:center;
}

.stats{
  display:flex;
  justify-content:center;
  gap:40px;
  margin-bottom:20px;
}

.sort-btn{
  padding:10px 20px;
  border:none;
  border-radius:6px;
  background:#007bff;
  color:white;
  cursor:pointer;
  margin-bottom:30px;
}

.card-container{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  gap:20px;
}

.card{
  width:200px;
  padding:20px;
  border-radius:10px;
  background:#eee;
  color:black;
  cursor:pointer;
  transition:0.3s;
}

.card:hover{
  transform:scale(1.05);
}

.present{
  background:green;
  color:white;
}

.absent{
  background:red;
  color:white;
}